#home .home{
	flex-direction:column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
	background-color: #9aa891;
}

#home .one {
	width:100%;
}

#home .one h1 {
	margin-top:40px;
    text-align:center;
    font-weight:lighter;
    letter-spacing: 2px;
	color: white;
    font-size:50px;
    font-style:inherit;
}

#home .one p {
	margin-top: 60px;
	padding-left:20px;
	color:white;
	width: 100%;
    text-align:center;
    font-size:40px;
	
}

#home .two p {
	margin-top: 60px;
	padding-left:20px;
	color: #9aa891;
	width: 100%;
    text-align:center;
    font-size:40px;
	
}
